* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F3F3F3;
    font-family: "Forum", cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: #1B1B1B;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar .brand {
    display: block;
    padding: 0 12px;
    font-size: 14px;
}

.navbar ul li a {
    padding: 12px;
    display: block;
    font-size: 12px;
}

.navbar ul a:hover, .navbar ul a:focus {
    background-color: #E1E1E1;
}

.content {
    padding: 20px;
    background-color: #FFFFFF;
    color: #0F044C;
    height: 300px;
}

.content ul li a {
    padding: 6px;
    display: block;
    font-size: 14px;
}

.about {
    height: auto;
}

.food {
    height: auto;
}

.drink {
    height: auto;
}

.eventi {
    height: auto;
}

.banner {
    background-color: #F3F3F3;
    font-family: "Forum", cursive;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner a {
    color: #1B1B1B;
}

.banner ul li a {
    padding: 12px;
    display: block;
    font-size: 16px;
}

.banner ul a:hover, .banner ul a:focus {
    background-color: #E1E1E1;
}