@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Work+Sans:wght@200;300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bianco1: #fff;
    --bianco2: #f8f9fa;
    --grigio1: #a9acb5;
    --grigio2: #4d4f54;
    --nero: #212529;
    /* 
    --colore: #B22222; */
    --colore: coral;
}

.max-width {
    padding: 0 25px;
    margin: auto;
}

/* all similar content code */

section {
    padding: 30px 0;
}

body {
    color: var(--nero);
}

.about, .books, .movies, .music {
    font-family: 'Work Sans', sans-serif;
    color: var(--nero);
}

footer{
    font-family: 'Work Sans', sans-serif;
    color: var(--bianco1);
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: var(--colore);
}

section .subtitle {
    position: relative;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
}

/* navbar styling */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: var(--bianco2);
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: var(--bianco2);
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
}

.navbar .logo a {
    color: var(--nero);
    font-size: 35px;
    font-weight: 700;
}

.navbar .logo a span {
    color: var(--colore);
}

.navbar.sticky .logo a span {
    color: var(--colore);
    transition: all 0.3s ease;
}

.navbar .menu.active {
    left: 0;
    background-color: var(--bianco2);
}

.navbar .menu li {
    list-style: none;
    display: block;
}

.navbar .menu li a {
    display: inline-block;
    color: var(--nero);
    font-size: 25px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    margin: 20px 0;
}

/* menu btn styling */

.menu-btn {
    color: var(--nero);
    font-size: 23px;
    cursor: pointer;
    display: block;
    z-index: 900;
}

.menu-btn i.active:before {
    content: "\58";
    font-weight: 900;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--colore);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: var(--colore);
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* home */

.home {
    display: flex;
    background: url("images/whitewall.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--bianco2);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.home .home-content {
    padding-top: 250px;
}

.home .home-content .text-1 {
    font-size: 27px;
    color: var(--nero);
}

.home .home-content .text-2 {
    font-size: 40px;
    font-weight: 600;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
    color: var(--nero);
}

.home .home-content .text-3 {
    font-size: 27px;
    margin: 5px 0;
    color: var(--nero);
}

.home .home-content .text-3 span {
    color: var(--colore);
}

/* about section */

.about .about-content .foto {
    width: 100%;
    justify-content: center;
    padding-bottom: 40px;
}

.about .about-content .foto img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .text {
    width: 100%;
    font-size: 14px;
}

/* books grid */

.books {
    background-color: var(--bianco2);
}
.library {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 10px;
    grid-auto-flow: column;
    flex-wrap: wrap;
}
.book{
    display: block;
    align-items: center;
    justify-content: center;
}
.book img{
    width: 100%;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
}
.book a{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--nero);
}
.book a::after{
    content: "\a";
    white-space: pre;
}
.book span {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

/* movies grid */
.movies{
    background-color: var(--bianco1);
}
.locandine{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 10px;
    grid-auto-flow: column;
    flex-wrap: wrap;
}
.movie{
    display: block;
    align-items: center;
    justify-content: center;
}
.movie img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}
.movie a{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--nero);
}
.movie a::after{
    content: "\a";
    white-space: pre;
}
.movie span {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

/* music grid */
.music{
    background-color: var(--bianco2);
}
.songs{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    grid-auto-flow: column;
}
.song{
    display: block;
    align-items: center;
    justify-content: center;
}
.song img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.song a{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--nero);
}
.song a::after{
    content: "\a";
    white-space: pre;
}
.song span {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

/* footer */

/* footer section styling */
footer{
    background: var(--nero);
    padding: 20px 23px;
}
footer span a{
    color: var(--colore);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}