* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #F3F3F3;
    font-family: "Forum", cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: #1B1B1B;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar .brand {
    display: block;
    padding: 0 12px;
    font-size: 14px;
}

.navbar ul li a {
    padding: 12px;
    display: block;
    font-size: 12px;
}

.navbar ul a:hover, .navbar ul a:focus {
    background-color: #E1E1E1;
}

.content {
    padding: 20px;
    background-color: #FFFFFF;
    color: #0F044C;
    height: 300px;
}

.about {
    height: 220px;
}